body {
    background: url(images/welcome_background.jpg);
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}

div {
    height: 180px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    height: 60px;
    color: floralwhite;
    font-weight: normal;
    font-variant: normal;
    font-style: italic;
    font-size: 120px;
    font-family: Magneto;
}

h2 {
    color: floralwhite;
    font-weight: normal;
    font-variant: normal;
    font-style: italic;
    font-size: 30px;
    font-family: Magneto;
}

button {
    background: black;
    color: floralwhite;
    width:240px;
    height:80px;
    font-weight: normal;
    font-variant: normal;
    font-style: italic;
    font-size: 30px;
    font-family: Magneto;
}

.login {
}

.registration {
}